@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.cont {
  width: 100%;
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;

  .top {
    height: 6rem;
    background-color: #0d0d0d;
    position: relative;

    .personImg {
      width: 6rem;
      aspect-ratio: 1;
      border-radius: 3rem;
      background-color: #141414;
      position: absolute;
      bottom: -3rem;
      left: calc(50% - 3rem);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .txtCont {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 4rem;
    text-align: center;

    .name {
      padding-bottom: 1rem;
      font-size: 1.05em;
      color: #f5f5f5;
      font-family: 'Michroma', sans-serif;
    }

    .desc {
      width: 75%;
      margin: 0 auto;
      flex: 1;
      font-size: 0.85em;
      color: #b3b3b3;
      font-family: 'Tomorrow', sans-serif;
    }

    .icons {
      margin-top: auto;
      display: flex;
      gap: 1rem;
      justify-content: center;
      padding-bottom: 1rem;
      color: #f5f5f5;
    }
  }

  @media (max-width: 650px) {
    width: 80%;
    margin: 0 auto;
  }
}
