@import '../../variables';

.alumniGrp {
  margin-top: 5em;
  .alumniGrpHead {
    color: $lightest;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    border-bottom: 2px solid $light;
    font-size: 2rem;
    text-align: center;
  }
}

.alumniCloud {
  width: 50%;
  padding: 1em;
  margin: 3em auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  border: 2px solid $light;
  border-radius: 20px;
  // border-bottom: 2px solid $light;
  .alumniCloudElem {
    // margin: 1em;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    transition: background-color 0.2s;

    border-radius: 10px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.199);
    }
    // border-right: 1px solid $lightest;

    // &:last-of-type {
    // 	border-right: none;
    // }
  }
}
