#hero {
	width: 100%;
	height: 100vh;
	display: flex;
	// text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Oswald", sans-serif;

	&-head {
		font-size: 4.6rem;
		letter-spacing: 1px;
		line-height: 130%;
	}
	&-sub {
		font-size: 1.5rem;
		margin-top: 30px;
	}
	@media (max-width: 650px) {
		&-head {
			font-size: 3rem;
		}
		&-sub {
			font-size: 1rem;
		}
	}
	@media (max-width: 350px) {
		&-head {
			font-size: 2rem;
		}
		&-sub {
			font-size: 0.8rem;
		}
	}
}
#scroll-indicator::before {
	animation: bounce 1s ease infinite;
	bottom: 2rem;
	color: #fff;
	content: "╲╱";
	font-size: 1rem;
	height: 4rem;
	left: 50%;
	letter-spacing: -1px;
	line-height: 4rem;
	margin-left: -3rem;
	opacity: 0.8;
	position: absolute;
	text-align: center;
	width: 6rem;
}

@keyframes bounce {
	50% {
		transform: translateY(-10%);
	}
}
