@import '../../../styles/variables';

.Menu {
  .navbarElem {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    position: relative;
    height: 100%;
    border-bottom: 2px solid transparent;
    padding: 15px 0px 15px 0px;
    transition: background-color 0.2s;
    text-align: center;

    &:hover {
      // top: 5px;
      background-color: rgba(255, 255, 255, 0.151);
    }

    .title {
      padding: 0 25px 0 25px;
    }
  }

  .dropDown {
    margin-top: 18px;
    position: absolute;
    width: 200px;
    font-size: 1rem;
    transition: background-color 0.2s;
    background-color: rgba(0, 0, 0, 0.7);

    backdrop-filter: blur(11px);
    // opacity: 0;
    transition: clip-path 0.6s;

    .subMenu {
      padding: 0.7rem 1rem;
      border-top: 2px solid rgba(255, 255, 255, 0.151);

      &:hover {
        // top: 5px;
        background-color: rgba(255, 255, 255, 0.151);
      }
    }
  }

  @media (max-width: 1000px) {
    .navbarElem {
      font-size: 1.2rem;
    }
    .dropDown {
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  @media (max-width: 780px) {
    .navbarElem {
      font-size: 1.2rem;
      height: 100%;
      width: 200px;
      background-color: rgba(0, 0, 0, 0);
      &:hover {
        // top: 5px;
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .subMenu {
      margin-top: 0px;
      padding: 10px 0px 0px 10px;
      font-size: 1.1rem;
      position: relative;
      text-align: center;
    }
  }
}

@media (max-width: 780px) {
  .Menu:last-child {
    margin-bottom: 10vh;
  }
}
