@import '../variables';

.startupsList {
  padding-top: 10vh;
}

.startupsSectionTitle {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $light;

  @media (max-width: 450px) {
    width: 80%;
  }
}

.startup {
  width: 85%;
  height: auto;
  margin: 1.2em auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: auto;
  cursor: pointer;
  border: 2px solid $light;
  align-items: flex-start;
  padding: 1.2em;
  border-radius: 10px;
  transition: transform 0.2s;
  gap: 1.2em;

  &:hover {
    transform: scale(1.02);
  }

  .startupImg {
    width: 25%;
    min-width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  .startupCont {
    width: 75%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.4;
    text-align: left;
    .startupContName {
      font-size: 1.1rem;
      margin-bottom: 8px;
      padding-bottom: 0.1em;
      transition: border-bottom 0.3s;
      border-bottom: 1px solid $lightest;
      .startupIcon {
        font-size: 1rem;
        float: right;
        a {
          margin: 0 10px;
          transition: color 0.2s;
          :hover {
            color: $light;
            animation: wiggle 0.3s forwards;
          }
        }
      }
    }
    .startupContSub {
      font-size: 0.9rem;
      margin-bottom: 0;
    }
  }

  &:hover {
    .startupCont {
      .startupContName {
        border-bottom: 1px solid $light;
      }
    }
  }
  @media (max-width: 900px) {
    .startupImg {
      height: 80px;
      width: 22%;
    }
  }
  @media (max-width: 780px) {
    width: 90%;
    margin: 0.8em auto;
    height: auto;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    .startupImg {
      height: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
    .startupCont {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 375px) {
    .startupImg {
      width: 80%;
      height: 100px;
    }
  }
}
