@import '../variables';

.dialog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    margin: 10px;
    height: 200px;
    padding:100px;
    border:5px solid #892cdc;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    box-shadow: 5px 5px #bf6eeb;
    margin-bottom: 50%; 
}

