.navbar {
  position: fixed;
  z-index: 1000000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  @supports (-moz-appearance: none) {
    background-color: rgba(0, 0, 0, 0.856);
  }

  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: clip-path 0.6s;

  .khopdi {
    cursor: pointer;
  }

  .navbarToggle {
    display: none;
  }

  .navbarElemList {
    width: 100%;
    min-height: 7vh;
    display: flex;
    align-items: center;

    .navHome {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Oswald', sans-serif;
      font-size: 1.3rem;
      position: relative;
      height: 100%;
      border-bottom: 2px solid transparent;
      padding: 15px 20px;
      transition: background-color 0.2s;
      text-align: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.151);

        .sraLogo {
          filter: grayscale(0) invert(0) brightness(1.2) sepia(1) hue-rotate(-30deg) saturate(5);
        }
      }

      .sraLogo {
        width: 100%;
        filter: grayscale(1) invert(1);
        transition: filter 0.3s ease;
      }
    }
  }

  @media (max-width: 780px) {
    // overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    width: 100%;
    height: 100%;
    clip-path: circle(15% at 100% 0%);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    pointer-events: none; // Don't block page when collapsed

    .navbarToggle,
    .navbarElemList {
      pointer-events: auto; // Re-enable for menu items
    }

    .navbarToggle {
      display: unset;

      .khopdi {
        width: 7%;
        margin: 20px;
        float: right;
        z-index: 4;
      }
    }

    .navbarElemList {
      overflow: scroll;
      height: 100%;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      .navbarElem {
        font-size: 1.3rem;
      }
    }
  }
}