@import '../variables';

.activitySectionTitle {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $light;

  @media (max-width: 450px) {
    width: 80%;
  }
}

.activity {
  width: 70%;
  height: auto;
  margin: 5em auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .activityImg {
    // margin-right: 1em;
    width: 30%;
    // height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .activityCont {
    width: 70%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    line-height: 250%;
    text-align: justify;
    .activityContName {
      font-size: 2rem;
      margin-bottom: 20px;
      padding-bottom: 0.15em;
      transition: border-bottom 0.3s;
      border-bottom: 1px solid $lightest;
      .activityIcon {
        font-size: 1.2rem;
        float: right;
        a {
          margin: 0 10px;
          transition: color 0.2s;
          :hover {
            color: $light;
            animation: wiggle 0.3s forwards;
            // transform: translateY(10px);
          }
        }
      }
    }
    .activityContSub {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }

  &:hover {
    .activityCont {
      .activityContName {
        border-bottom: 1px solid $light;
      }
    }
  }
  @media (max-width: 900px) {
    .activityImg {
      height: auto;
      width: 50%;
    }
  }
  @media (max-width: 780px) {
    width: 90%;
    margin: 1em auto;
    height: auto;
    flex-direction: column;
    .activityImg {
      height: 45vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      // background-image: 100vw;
    }
    .activityCont {
      width: 100%;
      height: max-content;
    }
  }
  @media (max-width: 375px) {
    .activityImg {
      width: 90%;
    }
  }
}
