@import '../variables';

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  .heroHead {
    font-size: 4.6rem;
    letter-spacing: 1px;
    line-height: 130%;
  }
  .heroSub {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  @media (max-width: 650px) {
    .heroHead {
      font-size: 3rem;
    }
    .heroSub {
      font-size: 1rem;
    }
  }
  @media (max-width: 350px) {
    .heroHead {
      font-size: 2rem;
    }
    .heroSub {
      font-size: 0.8rem;
    }
  }
}

.hero {
  background-size: cover;
  background-position: center;
  color: white;

  .notif {
    font-size: 1.5rem;
    position: absolute;
    bottom: 40px;
    left: 40px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: wobble;
    animation-timing-function: ease-in-out;
  }
}

.scroll-indicator::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: '╲╱';
  font-size: 1rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-10%);
  }
}

@keyframes wobble {
  30%,
  70% {
    transform: rotate(0deg);
  }

  35%,
  65% {
    transform: rotate(10deg);
    color: $lightest;
  }

  40%,
  60% {
    transform: rotate(-10deg);
  }

  45%,
  55% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}

.is {
  height: 240vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .caption {
    color: white;
    width: 100%;
    height: 80vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 290vw auto;

    @media (min-width: 550px) {
      background-size: 250vw auto;
    }
    @media (min-width: 750px) {
      background-size: 200vw auto;
    }
    @media (min-width: 900px) {
      background-size: 100vw auto;
    }

    .captionHead {
      text-transform: uppercase;
      font-size: 7rem;
      font-family: 'Six Caps', sans-serif;
      letter-spacing: 10px;
    }
    .captionSub {
      font-family: 'Merriweather', serif;
      margin-top: 20px;
      font-size: 1.3rem;
    }
  }

  @media (max-width: 650px) {
    .caption {
      .captionHead {
        font-size: 5rem;
      }
      .captionSub {
        font-size: 1rem;
        padding: 0 2em;
      }
    }
  }
}

.scrollIndicator::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: '╲╱';
  font-size: 1rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-10%);
  }
}
