@import '../../variables';

.ongoingProj {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  min-height: 70vh;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }

  .ongoingProjCont {
    width: 50%;
    margin-right: 20px;
    padding-bottom: 1em;

    .ongoingProjContName {
      font-size: 2.5rem;
      text-align: left;
      margin-bottom: 0.5em;
    }

    .ongoingProjContSub {
      line-height: 160%;
      margin: 1em 0;
      text-align: left;
    }

    .ongoingProjContLinks {
      text-align: left;
      margin-top: 1em;

      a {
        font-size: 1.5rem;
        transition: color 0.2s;

        &:hover {
          color: $dark;
        }
      }
    }
  }

  .ongoingProjImg {
    width: 45%;
    height: 400px;

    @media (max-width: 900px) {
      width: 100%;
      height: 300px;
    }

    @media (max-width: 650px) {
      height: 250px;
    }

    @media (max-width: 450px) {
      height: 200px;
    }
  }

  .ongoingProjModel {
    width: 45%;
    height: auto;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin-top: 20px;
    }

    @media (max-width: 450px) {
      iframe {
        height: 250px;
      }
    }
  }
}
.projectSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.projectName {
  padding: 10px 20px;
  cursor: pointer;
  background-color: $black;
  border: 2px solid transparent;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  font-size: 1.5rem;
  justify-content: space-around;

  &:hover {
    background-color: $light;
  }
}

.active {
  border-color: $dark;
  background-color: $dark;
}
